.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}
.DiaryEditor input,
textarea {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px;
}
.DiaryEditor textarea {
  height: 300px;
}
.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}
.DiaryEditor button {
  width: 100px;
  height: 40px;
}
